<% layout('layouts/boilerplate.ejs') %>
    <title>Show</title>
    <h1><%= campgrounds.title %></h1>
    <h1><%= campgrounds.location %></h1>
    <img src="<%= campgrounds.image %>" alt="">
    <p><%= campgrounds.description %></p>
    <p><a href="/campgrounds/<%= campgrounds._id %>/edit">edit</a></p>
    <p>
        <form action="/campgrounds/<%= campgrounds._id %>?_method=DELETE" method="post">
            <button>Delete</button>
        </form>
    </p>
    <footer>
        <a href="/campgrounds">All Campgrounds</a>
    </footer>
